# 2020년 8월 21일 금요일 


### 오늘 한 일  

- tacademy에서 정형데이터분석에 대한 강의를 들었다.(어제 들은 것 이후)  
    - 어떤식으로 베이스라인을 짤지, 정형데이터 분석과 관련된 전반적인 내용 학습     
    - 기온, 강수량, 전날 기온 등     
    - 베이스라인 모델 만든 후에 여러가지 의미있는 피쳐 뽑기

#### 새로 배운 파이썬 내용

- 얼마나 걸리는지 시간 나타내줌

In [1]:
from tqdm import tqdm_notebook

for i in tqdm_notebook(range(10)):
    print(i)

/home/sy19/anaconda3/envs/bigcon/lib/python3.7/site-packages/ipykernel_launcher.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  This is separate from the ipykernel package so we can avoid doing imports until

HBox(children=(FloatProgress(value=0.0, max=10.0), HTML(value='')))

0
1
2
3
4
5
6
7
8
9

- 날씨 변수 만들기  
https://truman.tistory.com/97

(월:0~일:6)

In [62]:
train_day=train.copy()

In [73]:
t=['월','화','수','목','금','토','일']

In [76]:
train_day['요일']=train_day['방송일시'].dt.dayofweek

In [81]:
train_day['요일']=train_day['요일'].apply(lambda x: t[x])

In [82]:
train_day

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,판매개수,요일
0,2019-01-01 06:00:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,52.0,화
1,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,109.0,화
2,2019-01-01 06:20:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,81.0,화
3,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,174.0,화
4,2019-01-01 06:40:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,167.0,화
...,...,...,...,...,...,...,...,...,...,...
38304,2020-01-01 00:20:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN,NaN,수
38305,2020-01-01 00:40:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN,NaN,수
38306,2020-01-01 01:00:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN,NaN,수
38307,2020-01-01 01:20:00,20.000000,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN,NaN,수
38308,2020-01-01 01:40:00,17.166667,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN,NaN,수

### 내일 할 일
- dcase 데이터 CAM  
- 빅콘 편성표+실적데이터 합치기  
- ADsP 1장 책보면서 이해